body{
    font-family:'Fira Code', 'Courier New', Courier, monospace;
    align-content:center;
    background: black;
    color: white;
    max-width:600px;
    margin: auto;
    padding: 1em;
}

a, a:visited {
    color: white;
    text-decoration: none;

}


.card{
    width: auto;
    border:dashed darkgray 3px;
    padding: 0.5em;
    margin: 2em 0em 2em 0em;
}

.card-table{
    display: grid;
}