body{
    font-family: 'Outfit', sans-serif;
    align-content:center;
    max-width:700px;
    margin: auto;
    padding: 2em;
}

h1{
    font-family: 'Outfit', sans-serif;
    font-weight:bold;
}

.flex{
  display: flex;
  flex-direction: row;  
  align-items: center;
}

.flex-low{
    display: flex;
    flex-direction:column;
}

.description{
    margin: 1em;
}

a, a:visited {
    color:#004E89;
    text-decoration: none;
}

mark{
    padding:3px;
    border: solid black 1px;
    box-shadow: black 2px 2px;
}

img{
    border-radius: 50%;
}

.card:hover{
    background:#FF6B35;
}

.card{
    width: auto;
    border:solid black 3px;
    padding: 0.5em;
    margin: 2em;
    box-shadow: black 5px 5px;
    transition: all 400ms;
    font: bold;

}

.card-table{
    display: grid;
}

#ryan{
    padding:2px;
    border: solid black 0.5px;
    box-shadow: black 1px 1px;
    background: #FF6B35;
}
